
:fullscreen a {
    display: flex;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

#threejs-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#debug-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: none;
}

.fullscreen-container{
  z-index: 10;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keymetrics-logo{
  width: 500px;
  height: auto;
}

/*Dat.gui size fix for chrome */
.dg .slider {
    width: 60%!important;
}

.github-corner {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
}

.dg.ac {
  z-index: 10 !important;
}
